{% extends "layout.twig" %}

{% block content %}

<h2 class="text-2xl font-bold">Companies</h2>

<ul>
  {% for company in companies %}
    <li>ID: {{ company.id }}</li>
    <li>Name: {{ company.name }}</li>
  {% else %}
    <li>No companies found</li>
  {% endfor %}
</ul>

{% endblock %}