{% extends "layout.twig" %}

{% block content %}

<h2 class="text-2xl font-bold">Company</h2>

<div>ID: {{company.id}}</div>
<div>Nome: {{company.name}}</div>
<div>Slug: {{company.slug}}</div>
<div>Cnpj: {{company.cnpj}}</div>

{% endblock %}