<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="/Assets/style.css">
  <title>Document</title>
</head>
<body>
  {% if session_has_flash('error') %}
    <div class="w-max bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Error</strong>
      <span class="block sm:inline">{{ session_get_flash('error') }}</span>
    </div>
  {% endif %}

  {% if session_has_flash('success') %}
    <div class="w-max bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Success</strong>
      <span class="block sm:inline">{{ session_get_flash('success') }}</span>
    </div>
  {% endif %}

  {% if session_has('auth') %}
    Bem vindo {{ auth().name }}
    <form action="/logout" method="post">
      <input type="hidden" name="__method" value="DELETE">
      <button type="submit" class="bg-gray-200 border">Logout</button>
    </form>
  {% else %}
    Bem vindo, visitante <a href="/login">Login</a>
  {% endif %}

  {% block content %}
  {% endblock %}
</body>
</html>